body {
    background-color: #231D2E;
    background-repeat: no-repeat;

   }

h1{
    color: white;
    font-family: 'Inter';
    
}

p{
    color:white;
    font-family: "Inter";
    font-size: 20px;
    margin-bottom: auto;
}

#hp  {
    float: left;    
     margin: 0 15px 0 0;
     width: 274px;
     height: 371px;
    }

.container{
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

}

   
    
#bar1{
    margin-top: 55px;
    margin-right: 85px;
    margin-left: -215px;
    
}

#bar2{
    margin-top: 175px;
    margin-right: 85px;
    margin-left: -325px;
}

#tags{
    width: 180px;
    height: 38px;
    margin-top: 290px;
    margin-left: -214px;
    border-radius: 5px;
    
}

#tagsBar{
    margin-top: 250px;
    margin-left: -560px;
}

#sinopseBar{
    margin-top: 140px;
    margin-right: 85px;
    margin-left: -560px;

}

.bar{
    color: black;
    width: 471px;
    height: 40px;
    border-radius: 5px;
    background-color: #FFFBEB;
}
.container2{
    display: flex;
    margin-left: 50px;
    margin-top: 80px;
    
}

#critBar{
    margin-left: -178px;
    margin-top: 360px;
    
}

#bar3{
    margin-left: -200px;
    margin-top: 400px;
}

#placeholder_movie{
    margin-right: 100px;
    margin-top: 40px;
}

#classInd{
    width: 125px;
    height: 38px;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: -383px
}

#IndBar{
    margin-left: 120px;
    
}

#durText{
    margin-top: 140px;
    margin-left: -125px;
    
}

#durBar{
    width: 125px;
    height: 30px;
    margin-top: 180px;
    margin-left: -243px;
    border-radius: 5px;
}

#minuteslab{
    font-family: Inter;
    color: white;
    font-size: 15px;
    margin-top: 200px;
    margin-left: 10px;
}

#submit{
    width: 117px;
    height: 38px;
    margin-top: 270px;
    margin-left: -30px;
}

a{
    color: white;
}