body {
    background-color: #231D2E;
    background-repeat: no-repeat;

   }

   table, th, td {
    border: 1px solid white;
    color: white;
    margin-left: 25px;
  }

.buttons{
    margin: 10px;
}

a{
  color: white;
}