ul {
    padding: 0px!important;
}
body {
  background-color: rgb(35, 14, 52) !important;
}
.container {
    width: 80%;
    height: 60vh;
    display: flex;
    padding: 10px;
    background-color: rgb(35, 14, 52);
}
.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.frame {
    background-color: rgb(23, 2, 32);
    padding: 10px;
    height: 72vh;
    width: 50vh;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    flex-direction: column;
    border-radius: 10px;
}
.input-box label {
    color: white;
    position: absolute; /* Set the label to absolute positioning */
    top: -25px; /* Adjust the top position as needed to move the label up */
    left: 1px; /* Adjust the left position as needed to move the label left */
    pointer-events: none;
    font-weight: 500;
    font-size: 0.95rem;
}
.input-box {
    position: relative;
    border-radius: 10%;
}
.input-box input{
    background-color: #dcd4f5;
    margin: 0.1rem 0;
    padding: 0.2rem 1.2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1.5px 5px #cf69d0;
}
.input-box input:hover{
    background-color: #e3e3e3;
}
.input-box input::placeholder{
    color: #000000be;
}
.continue-button button{
    border: none;
    background-color: #dcd4f5;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.05rem;
}
.continue-button button:hover{
    background-color: #ccc0f1;
}
.title {
    color: white;
}
.menu-principal{
    background-color: rgb(35, 14, 52);
    width: 100%;
    height: 60px;
}
main, .content {
    margin: 0 auto;
    position: relative;
}
.logo{
    padding-left: 30px;
    margin-top: 0px;
    height:60px;
    float: left;
    background-color:transparent
}
.logo img{
    filter: brightness(100);
    display:inline-block;
    background-color: transparent;
    width: 60px;
    height: 60px;
}
.logo p{
    color: white;
    position:relative;
    bottom:-6px;
    display:inline-block;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.busca input{
    background-image: url("../img/ok.png");
    background-repeat: no-repeat;
    background-position: 99%;
    margin-top: 36px;
    margin-right: 71px;
    margin-left: 20px;
    width: 135vh;
    height: 29px;
    border: 3px solid rgb(210, 196, 241);
    position:absolute;
    left:20%;
    top:-3vh;
    bottom:21px;
    padding: 0.2rem 1.2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 1.2px 1.8px 6px #cf69d0;    
}
.busca input:hover{
    background-color: #e3e3e3;
}
.slider-principal img{
    height: 405.5px;
    width: 811px;
}
.col-100 {
    margin-right:20%;
    margin-left:20%;
    width: 60%;
    float: left;
    position: relative;
}
button.slick-prev.slick-arrow{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 50px;
    z-index: 9;
    position: absolute;
    background-color: transparent;
    background-image: url("../img/anterior.png");
    top: 45%;
    left: 5%;
}
button.slick-next.slick-arrow{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 50px;
    z-index: 9;
    position: absolute;
    background-color: transparent;
    background-image: url("../img/proximo.png");
    top: 45%;
    right: 5%;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button{
    font-size: 0px;
    border: 0px solid #180727;
    width: 6px;
    height: 11px;
    background-color: #180727;
    border-radius: 50%;
    cursor: pointer;

}
.slick-dots li {
    padding-left: 10px;
    display: inline-block;

}
.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 46%;
    top: 375px;
}
#circulo{
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    position: absolute;
    left: 94.2%;
    top: 0.5vh;
}
.barra-lateral{
    overflow-y:scrool;
    overflow-x: hidden;
    height:100%;
    width: 205px;
    background-color:transparent;
    background: rgba(0,0,0,0.5);
    position:fixed!important;
    z-index:1;
}
.barra-lateral-posicao{
    width:100%;
    border-right:1px solid;
    display:block;
}
.tag{
    background-color: #180727;
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10%;
    margin-top:15px;
    margin-bottom: 15px;
    width: 145px;
    height: 50px;
    border: 1px solid #180727;
    margin-left:20px;
    margin-right:30px;
}
#fechar{
    margin-top: 20px;
}
.barra-lateral  ::-webkit-scrollbar {
    width: 12px;  
}
.barra-lateral ::-webkit-scrollbar-track {
    background: orange;       
}
.barra-lateral ::-webkit-scrollbar-thumb {
    background-color: blue; 
    border-radius: 20px;    
    border: 3px solid orange;  
}
@media screen and (max-width:1068px) {
    .container {
        width: 90%;
        justify-content: center;
    }
    .form {
        width: 90%;
        justify-content: space-evenly;
        margin: 0.5rem;
    }
    .busca input{
        width: 55%;
        left: 25%;
    }
}