*{
    list-style: none;
}

body{
    background-color: rgb(35, 14, 52);
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px!important;
}

.menu-principal{
    background-color: rgb(35, 14, 52);
    width: 100%;
    height: 60px;
}
main, .content {
    margin: 0 auto;
    position: relative;
}
.logo{
    padding-left: 30px;
    height:60px;
    float: left;
    background-color:transparent
}
.logo img{
    filter: brightness(100);
    display:inline-block;
    background-color: transparent;
    width: 60px;
    height: 60px;
}
.logo p{
    color: white;
    position:relative;
    bottom:20px;
    display:inline-block;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.busca input{
    background-image: url("../img/ok.png");
    background-repeat: no-repeat;
    background-position: 99%; /*Lupa*/
    margin-top: 10px;
    left: 230px;
    width: 800px;
    height: 20px;
    border: 3px solid rgb(210, 196, 241);
    position:relative;
    bottom:-6px;
}
.slider-principal img{
    height: 405.5px;
    width: 811px;
}
.col-100 {
    margin-right:20%;
    margin-left:20%;
    width: 60%;
    float: left;
    position: relative;
}
button.slick-prev.slick-arrow{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 50px;
    z-index: 9;
    position: absolute;
    background-color: transparent;
    background-image: url("../img/anterior.png");
    top: 45%;
    left: 5%;
}
button.slick-next.slick-arrow{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 50px;
    z-index: 9;
    position: absolute;
    background-color: transparent;
    background-image: url("../img/proximo.png");
    top: 45%;
    right: 5%;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button{
    font-size: 0px;
    border: 0px solid rgb(35, 14, 52);
    width: 6px;
    height: 11px;
    background-color: rgb(35, 14, 52);
    border-radius: 50%;
    cursor: pointer;

}
.slick-dots li {
    padding-left: 10px;
    display: inline-block;

}
.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 46%;
    top: 375px;
}
.circulo {
    float:right;
    width:50px;
    height:50px;
    margin-top: 5px;
    margin-right: 30px;
}
.circulo img{  
    width: 50px;
    height: 50px;   
}
#gradiente{
    background: rgb(6,1,9);
    background: linear-gradient(90deg, rgba(6,1,9,1) 0%, rgba(23,2,32,1) 50%, rgba(6,1,9,1) 100%);
    height: 406px;
}

.barra-lateral{
    overflow-y:scrool;
    overflow-x: hidden;
    height:100%;
    width: 205px;
    background-color:transparent;
    background: rgba(0,0,0,0.5);
    position:fixed!important;
    z-index:1;
}
.barra-lateral-posicao{
    width:100%;
    border-right:1px solid;
    display:block;
}
.tag{
    background-color: rgb(35, 14, 52);
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10%;
    margin-top:15px;
    margin-bottom: 15px;
    width: 145px;
    height: 50px;
    border: 1px solid rgb(35, 14, 52);
    margin-left:20px;
    margin-right:30px;
}
#fechar{
    margin-top: 20px;
}
.catalogo img{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 265px;
    height: 375px;
    border: 3px solid white;
}
.cadastroCirculo img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.cadastroCirculo{
    display: none;
    text-align:center;
    color:white;
    overflow-x: hidden;
    overflow-y: hidden;
    display: none;
    left:86.5%;
    height:250px;
    width: 180px;
    background-color:transparent;
    border-radius: 0 0 0 15%;
    background: rgba(0,0,0,0.5);
    position:absolute!important;
    z-index:1;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}
.cadastroCirculo a{
    text-decoration:none;
    color:white;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}
.x{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}